<header class="header">
    <div class="header-wrapper">
        <h1 class="logo">
            <img src="../../assets/icon/Logomark.svg" alt="Logo" />Ecomerce
        </h1>
        <nav class="nav-bar">
            <ul class="list-container">
                <li class="element" [routerLink]="'/'">Home</li>
                <li class="element categories">Categories <i class="fa-solid fa-angle-down"></i>
                    <div *ngIf="this.isClick" class="drop-down_categories">
                        <li class="element">Categories 1</li>
                        <li class="element">Categories 2</li>
                        <li class="element">Categories 3</li>
                    </div>
                </li>
                <li class="element">About</li>
                <li class="element">Contact</li>
            </ul>
        </nav>
        <div class="user-box">
            <div class="search-box">
                <img src="../../assets/icon/Search.svg" alt="Search">
                <input type="search" class="search-field" placeholder="Search products"/>
            </div>
            <img src="../../assets/icon/Cart.svg" alt="Cart">
            <div class="user-auth-container">
                <button mat-button [matMenuTriggerFor]="menu"><img src="../../assets/icon/User-1.svg" alt="User-1"></button>
                <mat-menu #menu="matMenu">
                    <button *ngIf="!this.isUserHere" mat-menu-item routerLink="/login"><span>Login</span></button>
                    <button *ngIf="!this.isUserHere" mat-menu-item routerLink="/singup"><span>Singup</span></button>
                    <button routerLink="/profile" *ngIf="this.isUserHere" mat-menu-item><span>Profile</span></button>
                    <button (click)="userLogout()" *ngIf="this.isUserHere" mat-menu-item><span>Log out</span></button>
                </mat-menu>
            </div>
        </div>
    </div>
</header>
