<footer>
    <div class="footer-wrapper">
        <div class="container fir">
            <div class="logo-container">
                <h1 class="logo"><img src="../../assets/icon/LogomarkFooter.svg" alt="logo">Ecommerce</h1>
            </div>
            <div class="text-container">
                <p>DevCut is a YouTube channel for practical project-based learning.</p>
            </div>
            <div class="icon-container">
                <img src="../../assets/icon/Github.svg" alt="Github">
                <img src="../../assets/icon/Instagram.svg" alt="Instargram">
                <img src="../../assets/icon/Youtube.svg" alt="Youtube">
            </div>
        </div>
        <div class="container hor">
            <div class="inner-container">
                <h3 class="title">SUPPORT</h3>
                <p class="footer-nav">FAQ</p>
                <p class="footer-nav">Terms of use</p>
                <p class="footer-nav">Privacy Policy</p>
            </div>
            <div class="inner-container">
                <h3 class="title">COMPANY</h3>
                <p class="footer-nav">About us</p>
                <p class="footer-nav">Contact</p>
                <p class="footer-nav">Careers</p>
            </div>
            <div class="inner-container">
                <h3 class="title">SHOP</h3>
                <p class="footer-nav">My Account</p>
                <p class="footer-nav">Checkout</p>
                <p class="footer-nav">Cart</p>
            </div>
        </div>
        <div class="container last">
            <h3 class="title">ACCEPTED PAYMENTS</h3>
            <div class="icon-container">
                <img src="../../assets/icon/Mastercard.svg" alt="Mastercard">
                <img src="../../assets/icon/Amex.svg" alt="Amex">
                <img src="../../assets/icon/Visa.svg" alt="Visa">
            </div>
        </div>
    </div>
</footer>