<head>
    <title>Home</title>
</head>

<section class="section" id="section1">
    <div class="hero-wrapper">
        <div class="hero-container">
            <div class="circle"></div>
            <img src="../../assets/img/Hero Image.png" alt="HeroImage">
        </div>
    </div>

    <div class="detail-container">
        <div class="details">
            <div class="icon-container">
                <img src="../../assets/icon/Shipping.svg" alt="Shipping">
            </div>
            <h3>Free shipping</h3>
            <p>Upgrade your style today and get FREE shipping on all orders! Don't miss out.</p>
        </div>
        <div class="details">
            <div class="icon-container"><img src="../../assets/icon/Star Badge.svg" alt="Star Badge.svg"></div>
            <h3>Satisfaction Guarantee</h3>
            <p>Shop confidently with our Satisfaction Guarantee: Love it or get a refund.</p>
        </div>
        <div class="details">
            <div class="icon-container"><img src="../../assets/icon/Shield Check.svg" alt="Shield Check"></div>
            <h3>Secure Payment</h3>
            <p>Your security is our priority. Your payments are secure with us.</p>
        </div>
    </div>
</section>
<section class="section" id="section2">
    <div class="section2-wrapper">
        <div class="header-text-container">
            <span>SHOW NOW</span>
            <span>Best Selling</span>
        </div>
        <div class="product-container">
            <div class="product" *ngFor="let product of product$ | async; let i = index">
                <div class="image-container">
                    <img [src]="product.path" alt="cover" loading="lazy">
                </div>
                <div class="product-detail">
                    <span class="product-name">{{ product.name }}</span>
                    <div class="in-stock-i-o">
                        <span *ngIf="product.inStock > 0" class="instock-d">IN STOCK</span>
                        <span *ngIf="product.inStock <= 0" class="instock-d">OUT OF STOCK</span>
                        <span class="product-price">{{ product.price }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>