@import url(../userprofile.component.scss);

.-section {
    .-wrapper {
        .address-container {
            height: 50vh; 
            width: 100%;
            box-sizing: border-box;
            padding-top: 56px;

            .header-address {
                position: absolute;
                top: -24px;
            }

            form {
                display: grid; 
                grid-template-columns: repeat(2, 1fr); 
                grid-template-rows: auto;
                gap: 16px 16px; 

                .form-group {
                    width: 100%;
                    gap: 3px;
                }

                button {
                    width: 144px;
                    margin-top: 48px;
                }
            }
            
        }
    }
}
