<head>
    <title>Log in</title>
</head>

<app-breadcrumb [title]="'Login'"></app-breadcrumb>

<section class="login-section">
    <div class="login-wrapper">
        <button class="cont-google"><img src="../../assets/icon/Google.svg" alt="Google"> Continue with Google</button>
        <div class="divide-container">
            <div class="line"></div>
            <span>OR</span>
        </div>
        <form action="" [formGroup]="formGroup">
            <div class="form-group">
                <span>Email</span>
                <input type="email" formControlName="email">
                <span class="alert-text" *ngIf="(formGroup.controls['email'].touched || formGroup.controls['email'].dirty) && formGroup.controls['email'].errors?.['required']">email is required</span>
                <span class="alert-text" *ngIf="(formGroup.controls['email'].touched) && formGroup.controls['email'].errors?.['email']">Use correct email format</span>
            </div>
            <div class="form-group">
                <span>Password</span>
                <input type="password" formControlName="password">
                <span class="alert-text" *ngIf="(formGroup.controls['password'].touched || formGroup.controls['password'].dirty) && formGroup.controls['password'].errors?.['required']">password is required</span>
                <span class="alert-text" *ngIf="this.isTrueLogIn">Login or password is incorrect</span>
            </div>
            <p class="forgot-p" [routerLink]="['/forgotpassword']">Forgot password?</p>
            <button type="submit" (click)="isValidForm()">
                <span *ngIf="this.isTrue">Log In</span>
                <mat-progress-spinner diameter="25" mode="indeterminate" *ngIf="!isTrue"></mat-progress-spinner>
            </button>
            <p>Don't have account? <a class="go-login" [routerLink]="['/singup']">Create One</a></p>
        </form>
    </div>
</section>