.reset-p-section {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;

    .reset-p-wrapper {
        width: min(1440px, 100vw);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        form {
            width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .forgot-p {
                color: #5C5F6A;
                font-weight: 700;
                font-size: 12px;
                align-self: end;
                cursor: pointer;
            }
        }
    }
}