<head>
    <title>Reset password</title>
</head>

<app-breadcrumb [title]="'Reset password'"></app-breadcrumb>

<section class="reset-p-section">
    <div class="reset-p-wrapper">
        <form action="" [formGroup]="formGroup">
            <div class="form-group">
                <span>New password</span>
                <input type="email" formControlName="Email">
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched || formGroup.controls['Email'].dirty) && formGroup.controls['Email'].errors?.['required']">Email is required</span>
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched) && formGroup.controls['Email'].errors?.['email']">Use correct Email format</span>
            </div>
            <div class="form-group">
                <span>Confirm password</span>
                <input type="password" formControlName="Password">
                <span class="alert-text" *ngIf="(formGroup.controls['Password'].touched || formGroup.controls['Password'].dirty) && formGroup.controls['Password'].errors?.['required']">Password is required</span>
            </div>
            <button type="submit" (click)="isValidForm()">Reset password</button>
        </form>
    </div>
</section>