<head>
    <title>Forgot password</title>
</head>

<app-breadcrumb [title]="'Forgot Password'"></app-breadcrumb>

<section class="forgot-p-section">
    <div class="forgot-p-wrapper">
        <form action="" [formGroup]="formGroup">
            <p class="forgot-p-text">Please enter the email address associated with your account. We'll promptly send you a link to reset your password.</p>
            <div class="form-group">
                <span>Email</span>
                <input type="email" formControlName="Email">
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched || formGroup.controls['Email'].dirty) && formGroup.controls['Email'].errors?.['required']">Email is required</span>
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched) && formGroup.controls['Email'].errors?.['email']">Use correct Email format</span>
                <span class="alert-text-green" *ngIf="isDone === '1'">Email send succesfuly</span>
                <span class="alert-text" *ngIf="isDone === '2'">Something wrong</span>
            </div>
            <button type="submit" (click)="isValidForm()">
                <mat-progress-spinner diameter="25" mode="indeterminate" *ngIf="!isTrue"></mat-progress-spinner>
                <span *ngIf="isTrue">Send reset link</span>
            </button>
        </form>
    </div>
</section>