<head>
    <title>Forgot password</title>
</head>

<app-breadcrumb [title]="'Forgot Password'"></app-breadcrumb>

<section class="forgot-p-section">
    <div class="forgot-p-wrapper">
        <form action="" [formGroup]="formGroup">
            <p class="forgot-p-text">Please enter the email address associated with your account. We'll promptly send you a link to reset your password.</p>
            <div class="form-group">
                <span>Email</span>
                <input type="email" formControlName="Email">
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched || formGroup.controls['Email'].dirty) && formGroup.controls['Email'].errors?.['required']">Email is required</span>
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched) && formGroup.controls['Email'].errors?.['email']">Use correct Email format</span>
            </div>
            <button type="submit" (click)="isValidForm()">Send reset link</button>
        </form>
    </div>
</section>