<section class="password-section">
    <div class="password-wrapper">
        <div class="password-container">
            <h1 class="header-password">Change Passwords</h1>
            <form [formGroup]="passwordUpdateForm">
                <div class="form-group">
                    <span class="label">New Password</span>
                    <input type="text" formControlName="NewPassword">
                    <span class="alert-text" *ngIf="(passwordUpdateForm.controls['NewPassword'].touched || passwordUpdateForm.controls['NewPassword'].dirty) && passwordUpdateForm.controls['NewPassword'].errors?.['required']">Please enter password</span>
                </div>
                <div class="form-group">
                    <span class="label">Confirm Password</span>
                    <input type="text" formControlName="ConfrimPassword">
                    <span class="alert-text" *ngIf="(passwordUpdateForm.controls['ConfrimPassword'].touched || passwordUpdateForm.controls['ConfrimPassword'].dirty) && passwordUpdateForm.controls['ConfrimPassword'].errors?.['required']">Confrom your password</span>
                </div>

                <button type="submit" (click)="isValid()">Change password</button>
            </form>
        </div>
    </div>
</section>
