<head>
    <title>Sing up</title>
</head>

<app-breadcrumb [title]="'Sing up'"></app-breadcrumb>

<section class="singup-section">
    <div class="singup-wrapper">
        <button class="cont-google"><img src="../../assets/icon/Google.svg" alt="Google"> Continue with Google</button>
        <div class="divide-container">
            <div class="line"></div>
            <span>OR</span>
        </div>
        <form action="" [formGroup]="formGroup">
            <div class="form-group">
                <span>Name</span>
                <input type="text" formControlName="Name">
                <span class="alert-text" *ngIf="(formGroup.controls['Name'].touched || formGroup.controls['Name'].dirty) && formGroup.controls['Name'].errors?.['required']">Name is required</span>
            </div>
            <div class="form-group">
                <span>Email</span>
                <input type="email" formControlName="Email">
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched || formGroup.controls['Email'].dirty) && formGroup.controls['Email'].errors?.['required']">Email is required</span>
                <span class="alert-text" *ngIf="(formGroup.controls['Email'].touched) && formGroup.controls['Email'].errors?.['email']">Use correct Email format</span>
            </div>
            <div class="form-group">
                <span>Password</span>
                <input type="password" formControlName="Password">
                <span class="alert-text" *ngIf="(formGroup.controls['Password'].touched || formGroup.controls['Password'].dirty) && formGroup.controls['Password'].errors?.['required']">Password is required</span>
                <span class="alert-text" *ngIf="this.somethingWrong">Something Wrong try again</span>
            </div>
            <p class="terms-reminder-text">By creating an account you agree with our Terms of Service, Privacy Policy,</p>
            <button type="submit" (click)="isValidForm()">
                <span *ngIf="this.isTrue">Create Account</span>
                <mat-progress-spinner diameter="25" mode="indeterminate" *ngIf="!isTrue"></mat-progress-spinner>
            </button>
            <p>Already have an account? <a class="go-login" [routerLink]="['/login']">Log in</a></p>
        </form>
    </div>
</section>