<div class="orders-box" *ngFor="let product of product$ | async; let i = index">
    <div class="order-details">
        <div class="image"><img [src]="product.productImage" alt="cover-image"></div>
        <div class="other-details">
            <span class="name">{{ product.productName }}</span>
            <span class="orders-date-info">Ordered on: {{ product.orderDate }}</span>
            <span class="orders-cost">{{ product.productPrice }}</span>
        </div>
    </div>
    <div class="orders-info">
        <span class="order-status processing">{{ product.orderState }}</span>
        <button type="button" class="items-view">View items</button>
    </div>
    <div class="hr"></div>
</div>
