@import url(../userprofile.component.scss);

.-section {
    .-wrapper {  
        .orders-container {
            height: 50vh;
            width: 100%;
            box-sizing: border-box;
            padding-right: 18px;
            padding-top: 56px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;  

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #F6F6F6;
                border-radius: 2.5px;
            }

            .header-order {
                position: absolute;
                top: -24px;
                left: 0;
                z-index: 9;
                font-size: 20px;
            }   
        }
    }
}
